<% layout('layouts/boilerplate') %>
<div class="row">
  <div class="col-6 offset-3 ">
      <div class="card mb-5">
          <img src="<%=blog.image%>" class="card-img-top" alt="blog image">
          <div class="card-body">
            <h5 class="card-title"><%=blog.title %></h5>
            <p class="card-text"><%=blog.description %></p>
          </div>
          <div class="card-body">
            <a href="/blogs/<%=blog._id %>/edit" class="btn btn-warning">Edit</a>
            
            <form class="d-inline" action="/blogs/<%=blog._id %>?_method=DELETE" method="POST">
              <button class="btn btn-danger">Delete</button>
          </form>
          <a href="/blogs" class="btn btn-info">Blogs</a>
          </div>
        </div>
  </div>
</div>
